# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  devcontainer-publish:
    docker:
      - image: cimg/base:stable
    resource_class: xlarge

    parameters:
      platform:
        type: string
        default: linux/amd64
      tag:
        type: string
        default: latest
      version:
        type: string
        default: 1.3.0b0

    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build and publish
          command: |
            export IMAGE_NAME=secretflow/secretnote:<< parameters.tag >>

            docker buildx build \
              --platform=<< parameters.platform >> \
              --build-arg version=<< parameters.version >> \
              -f docker/app/Dockerfile \
              -t ${IMAGE_NAME} \
              --progress=plain \
              .

            docker login -u secretflow -p ${DOCKER_DEPLOY_TOKEN}
            docker push ${IMAGE_NAME}

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  devcontainer-publish-1.3.0-amd64:
    jobs:
      - devcontainer-publish:
          filters:
            branches:
              only:
                - main
          platform: linux/amd64
          version: 1.3.0b0
          tag: 1.3.0-amd64
  devcontainer-publish-1.6.1-amd64:
    jobs:
      - devcontainer-publish:
          filters:
            branches:
              only:
                - main
          platform: linux/amd64
          version: 1.6.1b0
          tag: 1.6.1-amd64
  devcontainer-publish-1.6.0-arm64:
    jobs:
      - devcontainer-publish:
          filters:
            branches:
              only:
                - main
          platform: linux/arm64
          version: 1.6.1b0
          tag: 1.6.1-arm64
