.project-container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .ant-table .ant-table-content {
    color: var(--mana-secretnote-text-color);
    font-size: 12px;

    .ant-table-cell-row-hover {
      background-color: var(--mana-secretnote-sidebar-background);
    }
  }
}

.secretnote-invitation-notification {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 24px;
  float: right;
}

.notification-list {
  .ant-table .ant-table-content {
    color: var(--mana-secretnote-text-color);
    font-size: 12px;

    .ant-table-cell-row-hover {
      background-color: var(--mana-secretnote-sidebar-background);
    }

    .ant-table-cell {
      background-color: #fff;
    }
  }
}
