.libro-keybind-instructions-icon {
  margin-top: 6px;
}

.mana-toolbar-item-disabled {
  pointer-events: none;
}

.secretnote-kernel-status {
  .kernel-status-item {
    margin-bottom: 16px;
    background-color: var(--mana-secretnote-sidebar-background);
    padding: 8px;
  }

  .server-name {
    font-weight: 600;
    font-size: 14px;
    color: var(--mana-secretnote-text-color);
  }

  .metrics-item {
    margin-left: 8px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 12px;
    color: var(--mana-secretnote-text-color);

    .label {
      margin-right: 8px;
    }

    .ant-badge-status-text {
      font-size: 12px;
    }
  }

  canvas {
    margin-top: 8px;
    margin-left: 8px;
  }
}
