* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.secretnote-sf-container {
  height: 100%;
  width: 100%;
}

li {
  margin-left: 1em;
}

::selection {
  background: #b7d7fb !important;
}
