.secretnote-page {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .mana-splitpanel {
    height: calc(100% - 48px);
  }

  .secretnote-page-preview-content {
    height: calc(100% - 48px);
    padding: 24px;
  }

  .libro-header-right {
    padding-right: 12px;
  }

  .libro-view-content {
    box-sizing: border-box;
  }
}

.secretnote-header {
  border-bottom: 1px solid var(--mana-secretnote-divider-color);

  .logo {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-left: 24px;
    cursor: pointer;

    .title {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.secretnote-sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--mana-secretnote-divider-color);
  background-color: var(--mana-secretnote-sidebar-background);
  overflow-x: hidden;
  overflow-y: auto;

  .ant-collapse-item {
    border-bottom: 1px solid var(--mana-secretnote-divider-color);

    .ant-collapse-header {
      align-items: center;
      color: var(--mana-secretnote-text-color);
      font-size: 12px;
      font-weight: 600;
      user-select: none;

      .ant-collapse-expand-icon {
        margin-top: -2px;
        padding-inline-end: 0;
      }

      .ant-collapse-arrow {
        margin-right: 4px;
      }
    }

    .ant-collapse-content-box {
      padding-top: 0 !important;
    }
  }

  .statusbar {
    position: absolute;
    bottom: 150px;
    width: 100%;
    border-top: 1px solid var(--mana-secretnote-divider-color);
  }

  .secretnote-sidebar-extra {
    svg {
      color: var(--mana-secretnote-icon-color);

      &:hover {
        color: var(--mana-secretnote-icon-hover-color);
      }
    }
  }
}
