.secretnote-welcome-page {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 32px 48px;
  color: var(--mana-secretnote-text-color);
  background-color: #fff;

  .ant-steps {
    margin-top: 16px;
  }

  img {
    max-width: 360px;
    margin-block: 8px;
  }

  code {
    font-size: 13px;
    background-color: #efefef;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 1px 4px;
  }

  a {
    color: #1677ff;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  ul {
    line-height: 1.7;
  }
}
