.secretnote-data-table-tree {
  padding-left: 12px;
  background-color: var(--mana-secretnote-sidebar-background);
  color: var(--mana-secretnote-text-color);
  font-size: 13px;
}

.secretnote-table-columns {
  .ant-form-item {
    margin-bottom: 8px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}

.secretnote-ccl-table {
  .ant-select-selector {
    border: none;
  }
}
