.secretnote-ribbon {
  cursor: pointer;
}

.secretnote-ribbon-popover {
  .title {
    margin-bottom: 8px;
    color: var(--mana-secretnote-text-color);
  }

  .ant-popover-arrow {
    display: none;
  }
}
