@import url('override.less');

html,
body {
  height: 100%;
}

#root,
#root-master {
  height: 100%;
  font-family: Inter, sans-serif;
}

::selection {
  background: #b7d7fb !important;
}

p {
  margin: 0;
}
