// button
.ant-btn {
  font-size: 13px;

  &.ant-btn-default {
    color: var(--mana-secretnote-text-color);
  }

  &.ant-btn-dangerous {
    color: #ff4d4f;
  }
}

// tooltip
.ant-tooltip {
  .ant-tooltip-inner {
    font-size: 13px;
  }
}

.rc-tooltip {
  .libro-tooltip-text {
    font-size: 13px;
  }

  .rc-tooltip-inner {
    min-height: auto;
  }
}

// table
.ant-table .ant-table-content {
  color: var(--mana-secretnote-text-color);
  font-size: 13px;

  .ant-table-row {
    .ant-table-cell {
      padding: 12px 16px;
    }

    .ant-table-cell-row-hover {
      background-color: #f4f6f8;
    }
  }

  th.ant-table-cell {
    background-color: #fbfbfb;
    color: #283849;
  }
}

// tabs
.ant-tabs {
  .ant-tabs-nav {
    margin-bottom: 0;

    .ant-tabs-tab {
      .ant-tabs-tab-btn {
        color: #666;
      }
    }

    .ant-tabs-ink-bar {
      background-color: var(--mana-secretnote-text-color);
    }
  }
}

// modal
.ant-modal {
  .ant-modal-title {
    color: var(--mana-secretnote-text-color);
    font-size: 15px;
  }

  .ant-modal-confirm-title {
    color: var(--mana-secretnote-text-color);
  }

  .ant-modal-confirm-content {
    color: var(--mana-secretnote-text-color);
    font-size: 13px;
  }
}

// form
.ant-form {
  .ant-form-item {
    .ant-form-item-row {
      label {
        color: var(--mana-secretnote-text-color);
        font-size: 13px;
      }
    }
  }
}

// tree
.ant-tree {
  .ant-tree-treenode {
    &:hover::before {
      background-color: var(--mana-secretnote-li-hover-background) !important;
    }

    .ant-tree-switcher {
      display: flex;
      align-items: center;
      justify-content: center;

      &.ant-tree-switcher_close {
        transform: rotate(-90deg);
      }
    }

    .ant-tree-switcher-noop {
      width: 0;
    }
  }

  .ant-tree-title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px 2px 1px;
    color: var(--mana-secretnote-text-color);

    .title {
      display: flex;
      align-items: center;
    }

    .ant-dropdown-trigger {
      visibility: hidden;
    }

    &:hover .ant-dropdown-trigger {
      visibility: visible;
    }

    .ant-space-item {
      display: flex;
      align-items: center;
    }
  }

  .ant-tree-treenode-selected {
    span.ant-tree-switcher {
      color: var(--mana-secretnote-text-color) !important;
    }

    &::before {
      background-color: var(--mana-secretnote-li-hover-background) !important;
    }

    .ant-tree-node-selected {
      color: var(--mana-secretnote-text-color) !important;
    }
  }
}

// collapse
.ant-collapse {
  .ant-collapse-item {
    border-bottom: 1px solid var(--mana-secretnote-divider-color);

    .ant-collapse-header {
      align-items: center;
      color: var(--mana-secretnote-text-color);
      font-size: 13px;
      font-weight: 600;
      user-select: none;

      .ant-collapse-expand-icon {
        margin-top: -2px;
        padding-inline-end: 0;
      }

      .ant-collapse-arrow {
        margin-right: 4px;
      }
    }

    .ant-collapse-content-box {
      padding-top: 0 !important;
    }
  }
}

// badge
.ant-badge {
  .ant-badge-status-text {
    color: var(--mana-secretnote-text-color);
    font-size: 13px;
  }
}

// description
.ant-descriptions {
  .ant-descriptions-header {
    .ant-descriptions-title {
      color: var(--mana-secretnote-text-color);
    }

    margin-bottom: 14px;
  }

  .ant-descriptions-row {
    .ant-descriptions-item {
      padding-bottom: 8px;

      .ant-descriptions-item-label {
        font-size: 13px;
      }

      .ant-descriptions-item-content {
        color: var(--mana-secretnote-text-color);
        font-size: 13px;
      }
    }
  }
}

//popover
.ant-popover {
  .ant-popover-inner-content {
    padding: 8px;
  }
}

// select
.ant-select {
  .ant-select-selection-item {
    color: var(--mana-secretnote-text-color);
    font-size: 13px;
  }
}

.ant-select-dropdown {
  .ant-select-item-option-content {
    color: var(--mana-secretnote-text-color);
    font-size: 13px;
  }
}

// input
input.ant-input {
  color: var(--mana-secretnote-text-color);
}

// svg icon
svg.lucide {
  color: var(--mana-secretnote-icon-color);

  &:hover {
    color: var(--mana-secretnote-icon-hover-color);
  }
}

// dropdown
.ant-dropdown {
  .ant-dropdown-menu {
    .ant-dropdown-menu-item {
      color: var(--mana-secretnote-text-color);
      font-size: 13px;

      .libro-run-menu-label {
        color: var(--mana-secretnote-text-color);
        font-size: 13px;
      }
    }
  }
}

// cascader
.ant-cascader-dropdown {
  .ant-cascader-menu-item {
    color: var(--mana-secretnote-text-color);
    font-size: 13px;
  }

  .ant-cascader-menu-item-active {
    background-color: var(--mana-secretnote-li-hover-background) !important;
    font-weight: normal;
  }
}

// ant-back-top
.ant-back-top {
  .ant-btn {
    width: 44px;
  }
}
