.secretnote-file-tree {
  padding-left: 12px;
  background-color: var(--mana-secretnote-sidebar-background);
  color: var(--mana-secretnote-text-color);
  font-size: 12px;

  .ant-tree-treenode {
    &:hover::before {
      background-color: var(--mana-secretnote-li-hover-background) !important;
    }

    .ant-tree-switcher {
      display: flex;
      align-items: center;
      justify-content: center;

      &.ant-tree-switcher_close {
        transform: rotate(-90deg);
      }
    }
  }

  .ant-tree-switcher-noop {
    width: 0;
  }

  .secretnote-tree-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 4px 1px 1px;
    color: var(--mana-secretnote-text-color);

    .ant-dropdown-trigger {
      visibility: hidden;
    }

    &:hover .ant-dropdown-trigger {
      visibility: visible;
    }

    .ant-space-item {
      display: flex;
      align-items: center;
    }
  }

  .ant-tree-treenode-selected {
    .ant-tree-switcher {
      color: var(--mana-secretnote-text-color) !important;
    }

    &::before {
      background-color: var(--mana-secretnote-li-hover-background) !important;
    }

    .ant-tree-node-selected {
      color: var(--mana-secretnote-text-color) !important;
    }
  }
}
