name: 'Code: CI'

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  workflow_call:

permissions:
  contents: read
  actions: read # required by nrwl/nx-set-shas

jobs:
  ci-javascript:
    name: 'CI: JavaScript'
    uses: secretflow/web-ci/.github/workflows/ci-javascript.yml@main
    with:
      node-version: ${{ matrix.node-version }}
    strategy:
      fail-fast: false
      matrix:
        node-version: ['16.20.x']

  ci-python:
    name: 'CI: Python'
    uses: secretflow/web-ci/.github/workflows/ci-python.yml@main
    with:
      python-version: ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8.x']
